<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.Springboot4RabbitMQ.mapper.OrderMapper">

    <insert id="insertOrde" parameterType="com.rabbit.Springboot4RabbitMQ.entity.Order">
        insert into t_order values(#{id},#{name},#{messageId})
    </insert>
    
</mapper>